* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app > section > h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}

.form-search {
  width: 375px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  font-weight: 500;
}

.form-input {
  font-size: 16px;
  width: 65%;
  padding: 10px;
  margin: 5px 0;
  text-align: center;
  outline: none;
  border: 1px solid #00264d;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
  color: black;
}

.form-btn {
  width: 25%;
  padding: 10px;
  margin: 5px 0;
  text-align: center;
  outline: none;
  border: 1px solid #00264d;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #00ace6;
  color: white;
  border: none;
  cursor: pointer;
}

.form-btn:hover {
  background-color: #33ccff;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.loading {
  font-size: 50px;
  font-weight: 700;
  color: #00264d;
  text-align: center;
}

a {
  text-decoration: none;
  color: red;
}
